@charset "utf-8";
body {
	background-color: #FFCCFF;
}
#flash_1 {
	height: 350px;
	width: 860px;
}
#sec_1 {
	height: 350px;
	width: 860px;
	margin: 0 auto;
}
#flash_2 {
	height: 250px;
	width: 860px;
}
#sec_2 {
	height: 300px;
	width: 860px;
	margin: 0 auto;
}